{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'myadmin/assets/css/login.css' %}">
</head>
<body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container">
            <div class="card login-card">
                <div class="row no-gutters">
                    <div class="col-md-7">
                        <div class="card-body">
                            {% if validlink %}
                                <h3>Change password</h3>
                                <form id="id_password_change_form" method="POST" class="form-signin">
                                    {% csrf_token %}
                                    <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
                                    <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
                                    
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    {% endfor %}

                                    <button id="id_submit_btn" class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>  
                                </form>
                              {% else %}
                                 <p>
                                    The password reset link was invalid, possibly because it has already been used.
                                    Please request a new password reset.
                                  </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
