{% include "header.html" %}

{% load cart_tag %}

    <form method="post" action="/placeorder/ " >
        {% csrf_token %}
        <!-- checkout area start -->
        <div class="checkout-area pt-100px pb-100px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="billing-info-wrap">
                            <h3>Billing Details</h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info mb-4">
                                        <label>First Name</label>
                                        <input type="text" name="firstname" id="firstname" value="{{request.user.first_name}}" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info mb-4">
                                        <label>Last Name</label>
                                        <input type="text" value="{{request.user.last_name}}" name="lastname" id="lastname" />
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info mb-4">
                                        <label>Date of Birth</label>
                                        <input type="date" id="dob" name="dob" min="1906-01-01" max="2004-12-31" name="dob" itemid="dob" required>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-12">
                                    <div class="billing-info mb-4">
                                        <label>Company Name</label>
                                        <input type="text" />
                                    </div>
                                </div> -->
                                <div class="col-lg-12">
                                    <div class="billing-select mb-4">
                                        <label>State</label>
                                        <select name="state" id="state">
                                            <option>Gujarat</option>
                                            <option>Rajeshtan</option>
                                            <option>patan</option>
                                            <!-- <option>Brazil</option>
                                            <option>Bangladesh</option>
                                            <option>Barbados</option> -->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="billing-info mb-4">
                                        <label>Street Address</label>
                                        <!-- <input class="billing-address" placeholder="House number and street name" type="text" />
                                        <input placeholder="Apartment, suite, unit etc." type="text" /> -->
                                        <textarea name="address" id="address">{{profile.address}}</textarea>
                                    </div>
                                </div>
                               
                                <div class="col-lg-6">
                                    <div class="billing-select mb-4">
                                        <label>Town / City</label>
                                        <select name="city" id="city">
                                            <option>Ahmedabad</option>
                                            <option>Gandhinagar</option>
                                            <option>Vadodra</option>
                                            <option>Surat</option>
                                            <!-- <option></option>
                                            <option>Barbados</option> -->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info mb-4">
                                        <label>PinCode</label>
                                        <input type="text" name="pincode" id="pincode" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info mb-4">
                                        <label>Phone</label>
                                        <input type="text" value="{{profile.contact}}" name="phone" id="phone"/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info mb-4">
                                        <label>Email Address</label>
                                        <input type="text" value="{{request.user.email}}" name="email" id="email" />
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-lg-5 mt-md-30px mt-lm-30px ">
                        <div class="your-order-area">
                            <h3>Your order</h3>
                            <div class="your-order-wrap gray-bg-4">
                                <div class="your-order-product-info">
                                    <div class="your-order-top">
                                        <ul>
                                            <li>Product</li>
                                            <li>Total</li>
                                        </ul>
                                    </div>
                                    <div class="your-order-middle">
                                        {% for key, value in request.session.cart.items %}
                                        <ul>
                                            <li><span class="order-middle-left">{{value.name| truncatewords:5}} X {{value.quantity}}</span> <span
                                                class="order-price">₹{{ value.price|multiply:value.quantity }} </span></li>
                                        </ul>
                                        {% endfor %}
                                    </div>
                                    <div class="your-order-bottom">
                                        <ul>
                                            <li class="your-order-shipping">Shipping</li>
                                            <li>Free shipping</li>
                                        </ul>
                                    </div>
                                    <div class="your-order-total">
                                        <ul>
                                            <li class="order-total">Total</li>
                                            <li>₹ {{cart_total_amount}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="payment-method">
                                    <div class="payment-accordion element-mrg">
                                        <div id="faq" class="panel-group">
                                            <div class="panel panel-default single-my-account m-0">
                                                <div class="panel-heading my-account-title">
                                                    <h4 class="panel-title"><a data-bs-toggle="collapse" href="#my-account-1" class="collapsed" aria-expanded="true">Direct bank transfer</a>
                                                    </h4>
                                                </div>
                                                <div id="my-account-1" class="panel-collapse collapse show" data-bs-parent="#faq">
                                                    <div class="panel-body">
                                                        <p>Please send a check to Store Name, Store Street, Store Town,
                                                            Store State / County, Store Postcode.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default single-my-account m-0">
                                                <div class="panel-heading my-account-title">
                                                    <h4 class="panel-title"><a data-bs-toggle="collapse" href="#my-account-2" aria-expanded="false" class="collapsed">Check payments</a></h4>
                                                </div>
                                                <div id="my-account-2" class="panel-collapse collapse" data-bs-parent="#faq">
                                                    <div class="panel-body">
                                                        <p>Please send a check to Store Name, Store Street, Store Town,
                                                            Store State / County, Store Postcode.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default single-my-account m-0">
                                                <div class="panel-heading my-account-title">
                                                    <h4 class="panel-title"><a data-bs-toggle="collapse" href="#my-account-3">Cash on delivery</a></h4>
                                                </div>
                                                <div id="my-account-3" class="panel-collapse collapse" data-bs-parent="#faq">
                                                    <div class="panel-body">
                                                        <p>Please send a check to Store Name, Store Street, Store Town,
                                                            Store State / County, Store Postcode.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Place-order mt-25">
                                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
        <!-- checkout area end -->
        {% include "footer.html" %}