<!DOCTYPE html>
<html lang="zxx" dir="ltr">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appliances Heaven – Electronics </title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Hmart-Smart Product eCommerce html Template">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/images/1.PNG" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/assets/css/font.awesome.css" />
    <link rel="stylesheet" href="/static/assets/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="/static/assets/css/animate.min.css">
    <link rel="stylesheet" href="/static/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/assets/css/venobox.css">
    <link rel="stylesheet" href="/static/assets/css/jquery-ui.min.css">
     
    <link rel="stylesheet" href="/static/assets/css/style.css"> 
    <!-- Minify Version -->
    <link rel="stylesheet" href="/static/assets/css/plugins.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

</head>
<style>
    input[type="radio"] {
        appearance: radio;

    }
</style>

<body>

    <div class="main-wrapper">
        <header>
            <!-- Header top area start -->
            <div class="header-top">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col">
                            <div class="welcome-text">
                                <p>World Wide Completely Free Returns and Shipping</p>
                            </div>
                        </div>
                        <div class="col d-none d-lg-block">
                            <div class="top-nav">
                                <ul>
                                    <li><a href="tel:0123456789"><i class="fa fa-phone"></i> +012 3456 789</a></li>
                                    <li><a href="mailto:demo@example.com"><i class="fa fa-envelope-o"></i> demo@example.com</a></li>
                                    <li><a href="/profile/"><i class="fa fa-user"></i> My Profile</a></li>
                                    {% if user.is_authenticated %}
                                    <li><a href="/logout/"><i class="fa fa-user"></i>Logout</a></li>
                                    {% else %}
                                    <li><a href="/login_check/"><i class="fa fa-user"></i>Login</a></li>
                                    {% endif %}
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header top area end -->
            <!-- Header action area start -->
            <div class="header-bottom  d-none d-lg-block">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-3 col">
                            <div class="header-logo">
                                <a href="index.html"><img src="\static\assets\images\logo\Mountains.png" alt="Site Logo" /></a>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="search-element">
                                <form action="#">
                                    <input type="text" placeholder="Search" />
                                    <button><i class="pe-7s-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3 col">
                            <div class="header-actions">
                                <!-- Single Wedge Start -->
                                <a href="#offcanvas-wishlist" class="header-action-btn offcanvas-toggle">
                            
                                </a>
                                <!-- Single Wedge End -->
                                <a href="{% url 'cart_detail' %}" class="header-action-btn header-action-btn-cart ">
                                    <i class="pe-7s-shopbag"></i>
                                    <span class="header-action-num">{{request.session.cart|length}}</span>
                                    <!-- <span class="cart-amount">€30.00</span> -->
                                </a>
                                <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                                    <i class="pe-7s-menu"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header action area end -->
            <!-- Header action area start -->
            <div class="header-bottom d-lg-none sticky-nav style-1">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-3 col">
                            <div class="header-logo">
                                <a href="index.html"><img src="/static/assets/images/logo/logo.png" alt="Site Logo" /></a>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="search-element">
                                <form action="#">
                                    <input type="text" placeholder="Search" />
                                    <button><i class="pe-7s-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3 col">
                            <div class="header-actions">
                                <!-- Single Wedge Start -->
                                <!-- Single Wedge End -->
                                <a href="{% url 'cart_detail' %}" class="header-action-btn header-action-btn-cart ">
                                    <i class="pe-7s-shopbag"></i>
                                    <span class="header-action-num">{{request.session.cart|length}}</span>
                                    <!-- <span class="cart-amount">€30.00</span> -->
                                </a>
                                <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                                    <i class="pe-7s-menu"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header action area end -->
            <!-- header navigation area start -->
            <div class="header-nav-area d-none d-lg-block sticky-nav">
                <div class="container">
                    <div class="header-nav">
                        <div class="main-menu position-relative">
                            <ul>



                                <li><a href="{% url 'HomePage' %}">Home </a></li>

                                </li>
                                <li><a href="{% url 'AboutPage' %}">About</a></li>
                                
                                <li class="dropdown position-static"><a href="{% url 'Productpage' %}">Products </a>

                                </li>
                                <li class="dropdown "><a href="#">Categories<i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li class="dropdown position-static"><a href="">Kitchen appplinces
                                                <i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu sub-menu-2">
                                                <li><a href="{% url 'Productpage' %}?categories=1">Refrigetor</a></li>
                                                <li><a href="{% url 'Productpage' %}?categories=1">Microwave Ovens </a>
                                                </li>
                                                <li><a href="{% url 'Productpage' %}?categories=1"> Coffee Makers</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown position-static"><a href="">Home Comfort Appliances
                                                <i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu sub-menu-2">
                                                <li><a href="{% url 'Productpage' %}?categories=2">Air Conditioners</a></li>
                                                <li><a href="{% url 'Productpage' %}?categories=2">Fans</a>
                                                </li>
                                                <li><a href="{% url 'Productpage' %}?categories=2"> Air Purifiers</a>
                                                </li>

                                            </ul>
                                        </li>
                                        <li class="dropdown position-static"><a href="">Laundry Appliances
                                                <i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu sub-menu-2">
                                                <li><a href="{% url 'Productpage' %}?categories=3">Washing Machines</a></li>
                                                <li><a href="{% url 'Productpage' %}?categories=3"> Irons</a>
                                                </li>                               
                                            </ul>
                                        </li>
                                        <li class="dropdown position-static"><a href="">Entertainment Appliances
                                                <i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu sub-menu-2">
                                                <li><a href="http://127.0.0.1:8000/Product/?filter_price=3"> Televisions</a></li>
                                                <li><a href="{% url 'Productpage' %}?categories=4">Home Theater Systems</a>
                                                </li>
                                                <li><a href="http://127.0.0.1:8000/Product/?filter_price=4">Gaming Consoles</a></li>


                                                </li>


                                            </ul>
                                        </li>
                                        <li class="dropdown position-static"><a href="">Watches
                                                <i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu sub-menu-2">
                                                <li><a href="{% url 'Productpage' %}?categories=5"> Smartwatches</a></li>
                                                <li><a href="{% url 'Productpage' %}?categories=5"> Fitness Trackers</a>
                                                </li>
                                                <li><a href="{% url 'Productpage' %}?subcategories=Traditional%20Watches">Traditional Watches</a></li>

                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown position-static"><a href="">Mobiles & Accessories
                                                <i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu sub-menu-2">
                                                <li><a href="{% url 'Productpage' %}?categories=6"> Mobiles</a></li>
                                                <li><a href="{% url 'Productpage' %}?categories=6"> Headphones/Earphones</a>
                                                </li>
                                                <li><a href="{% url 'Productpage' %}?categories=6"> Bluetooth Speakers </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                <li><a href="{% url 'ContactPage' %}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header navigation area end -->
            <div class="mobile-search-box d-lg-none">
                <div class="container">
                    <!-- mobile search start -->
                    <div class="search-element max-width-100">
                        <form action="/search/" method="get">
                            {% csrf_token %}
                            <input type="text" placeholder="Search" name="query" id="query">
                            <button type="submit"><i class="pe-7s-search"></i></button>

                        </form>
                    </div>
                    <!-- mobile search start -->
                </div>
            </div>
        </header>
        <!-- offcanvas overlay start -->
        <div class="offcanvas-overlay"></div>
        <!-- offcanvas overlay end -->
        <!-- OffCanvas Wishlist Start -->
        <div id="offcanvas-wishlist" class="offcanvas offcanvas-wishlist">
            <div class="inner">
                <div class="head">
                    <span class="title">Wishlist</span>
                    <button class="offcanvas-close">×</button>
                </div>
                <!-- <div class="body customScroll">
                    <ul class="minicart-product-list">
                        <li>
                            <a href="single-product.html" class="image"><img src="/static/assets/images/product-image/1.webp" alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Modern Smart Phone</a>
                                <span class="quantity-price">1 x <span class="amount">$21.86</span></span>
                                <a href="#" class="remove">×</a>
                            </div>
                        </li>
                        <li>
                            <a href="single-product.html" class="image"><img src="/static/assets/images/product-image/2.webp" alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Bluetooth Headphone</a>
                                <span class="quantity-price">1 x <span class="amount">$13.28</span></span>
                                <a href="#" class="remove">×</a>
                            </div>
                        </li>
                        <li>
                            <a href="single-product.html" class="image"><img src="/static/assets/images/product-image/3.webp" alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Smart Music Box</a>
                                <span class="quantity-price">1 x <span class="amount">$17.34</span></span>
                                <a href="#" class="remove">×</a>
                            </div>
                        </li>
                    </ul>
                </div> -->
                <div class="foot">
                    <div class="buttons">
                        <a href="wishlist.html" class="btn btn-dark btn-hover-primary mt-30px">view wishlist</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- OffCanvas Wishlist End -->
        <!-- OffCanvas Cart Start -->
        <div id="offcanvas-cart" class="offcanvas offcanvas-cart">
            <div class="inner">
                <div class="head">
                    <span class="title">Cart</span>
                    <button class="offcanvas-close">×</button>
                </div>
                <div class="body customScroll">
                    <ul class="minicart-product-list">
                        <li>
                            <a href="single-product.html" class="image"><img src="/static/assets/images/product-image/1.webp" alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Modern Smart Phone</a>
                                <span class="quantity-price">1 x <span class="amount">$18.86</span></span>
                                <a href="#" class="remove">×</a>
                            </div>
                        </li>
                        <li>
                            <a href="single-product.html" class="image"><img src="/static/assets/images/product-image/2.webp" alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Bluetooth Headphone</a>
                                <span class="quantity-price">1 x <span class="amount">$43.28</span></span>
                                <a href="#" class="remove">×</a>
                            </div>
                        </li>
                        <li>
                            <a href="single-product.html" class="image"><img src="/static/assets/images/product-image/3.webp" alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Smart Music Box</a>
                                <span class="quantity-price">1 x <span class="amount">$37.34</span></span>
                                <a href="#" class="remove">×</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="foot">
                    <div class="buttons mt-30px">
                        <a href="cart.html" class="btn btn-dark btn-hover-primary mb-30px">view cart</a>
                        <a href="checkout.html" class="btn btn-outline-dark current-btn">checkout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- OffCanvas Cart End -->
        <!-- OffCanvas Menu Start -->
        <div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
            <button class="offcanvas-close"></button>
            <div class="user-panel">
                <ul>
                    <li><a href="tel:0123456789"><i class="fa fa-phone"></i> +012 3456 789</a></li>
                    <li><a href="mailto:demo@example.com"><i class="fa fa-envelope-o"></i> demo@example.com</a></li>
                    {% if user.is_authenticated %}
                                    <li><a href="/logout/"><i class="fa fa-user"></i>Logout</a></li>
                                    {% else %}
                                    <li><a href="/login_check/"><i class="fa fa-user"></i>Login</a></li>
                                    {% endif %}
                </ul>
            </div>
            <div class="inner customScroll">
                <div class="offcanvas-menu mb-4">
                    <ul>
                        <li><a href="{% url 'HomePage' %}"><span class="menu-text">Home</span></a></li>
                        <li><a href="{% url 'AboutPage' %}">About</a></li>
                        <li class="dropdown">
                            <a href="{% url 'Productpage' %}">Products</a>
                        </li>
                        <li class="dropdown">
                            <a href="#">Categories</a>
                            <ul class="sub-menu">
                                <li class="dropdown">
                                    <a href="#">Kitchen Appliances</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Refrigerators</a></li>
                                        <li><a href="#">Microwave Ovens</a></li>
                                        <li><a href="{% url 'Productpage' %}">Coffee Makers</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Home Comfort Appliances</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Air Conditioners</a></li>
                                        <li><a href="#">Fans</a></li>
                                        <li><a href="#">Air Purifiers</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Laundry Appliances</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Washing Machines</a></li>
                                        <li><a href="#">Irons</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Entertainment Appliances</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Televisions</a></li>
                                        <li><a href="#">Home Theater Systems</a></li>
                                        <li><a href="#">Gaming Consoles</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Watches</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Smartwatches</a></li>
                                        <li><a href="#">Fitness Trackers</a></li>
                                        <li><a href="#">Traditional Watches</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Mobiles & Accessories</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Mobiles</a></li>
                                        <li><a href="#">Headphones/Earphones</a></li>
                                        <li><a href="#">Bluetooth Speakers</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="{% url 'ContactPage' %}">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- OffCanvas Menu End -->