{% include "header.html" %}
 
        <!-- Contact Area Start -->
        <div class="contact-area">
            <div class="container">
                <div class="contact-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <div class="contact-form">
                                <div class="contact-title mb-30">
                                    <div class="img_cmpted"><i class="fa-regular fa-circle-check fa-beat fa-2xl" style="color: #266bf9; font-size: 150px;"></i></div><br>
                                    <h2 class="title">Your order has been Placed</h2>
                                </div>

                                <p class="form-messege"></p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Area End -->
        <!-- map Area Start -->
        
        <!-- map Area End -->
        {% include "footer.html" %}