{% include "header.html" %}
        <!-- breadcrumb-area start -->

        <!-- breadcrumb-area end -->
        <!-- Product Details Area Start -->
        <div class="product-details-area pt-100px pb-100px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                        <!-- Swiper -->
                        <div class="swiper-container zoom-top">
                            <div class="swiper-wrapper">
                                {% for i in prod.images_set.all %}
                                <div class="swiper-slide">
                                    <img class="img-responsive m-auto" src="/media/{{i.image}}" alt="">
                                    <a class="venobox full-preview" data-gall="myGallery" href="/media/{{i.image}}">
                                        
                                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="swiper-container mt-20px zoom-thumbs slider-nav-style-1 small-nav">
                            <div class="swiper-wrapper">
                                {% for i in prod.images_set.all %}
                                <div class="swiper-slide">
                                    <img class="img-responsive m-auto" src="/media/{{i.image}}" alt="">
                                </div>
                                {% endfor %}
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-buttons">
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                        <div class="product-details-content quickview-content ml-25px">
                            <h2>{{prod.name | truncatewords:15}}</h2>
                            <div class="pricing-meta">
                                <ul class="d-flex">
                                    <li class="new-price">₹{{prod.price}}</li>
                                </ul>
                            </div>
                            <div class="pro-details-rating-wrap">
                                <div class="rating-product">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span class="read-review"><a class="reviews" href="#">(5 Customer Review)</a></span>
                            </div>
                            <p class="mt-30px">{{prod.description| truncatewords:32}}</p>
                            <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                <span>Category :</span>
                                <ul class="d-flex">
                                    <li>
                                        <a href="#">{{prod.categories | truncatewords:4 }}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                <span>Sub Category: </span>
                                <ul class="d-flex">
                                    <li>
                                        <a href="#">{{prod.subcategories | truncatewords:4 }} </a>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="pro-details-quality">
                                
                                <div class="pro-details-cart">
                                    <a href="{% url 'cart_add' prod.id %}" class="add-cart">Add To Cart</a>   
                                </div>
                                
                            </div>
                        </div>
                        <!-- product details description area start -->
                        <div class="description-review-wrapper">
                            <div class="description-review-topbar nav">
                                <!-- <button data-bs-toggle="tab" data-bs-target="#des-details2">Information</button> -->
                                <button class="active" data-bs-toggle="tab" data-bs-target="#des-details1">Description</button>
                                <!-- <button data-bs-toggle="tab" data-bs-target="#des-details3">Reviews (02)</button> -->
                            </div>
                            <div class="tab-content description-review-bottom">
                                <!-- <div id="des-details2" class="tab-pane">
                                    <div class="product-anotherinfo-wrapper text-start">
                                        <ul>
                                            <li><span>Weight</span> 400 g</li>
                                            <li><span>Dimensions</span>10 x 10 x 15 cm</li>
                                            <li><span>Materials</span> 60% cotton, 40% polyester</li>
                                            <li><span>Other Info</span> American heirloom jean shorts pug seitan letterpress</li>
                                        </ul>
                                    </div>
                                </div> -->
                                <div id="des-details1" class="tab-pane active">
                                    <div class="product-description-wrapper">
                                        <p>
                                            {{prod.description}}
                                        </p>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <!-- product details description area end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Area Start -->
        <div class="product-area related-product">
            <div class="container">
                <!-- Section Title & Tab Start -->
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center m-0">
                            <h2 class="title">Related Products</h2>
                        </div>
                    </div>
                </div>
                <!-- Section Title & Tab End -->
                <div class="row">
                    <div class="col">
                        <div class="tab-content mt-60px">
                            <!-- 1st tab start -->
                            <div class="tab-pane fade show active" id="newarrivals">
                                <div class="row mb-n-30px">

                                    {% for prod in related %}
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <span class="badges">
                                                <span class="new">New</span>
                                            </span>
                                            <div class="thumb">
                                                <a href="/Details/{{prod.id}}" class="image">
                                                    <img src="/media/{{prod.image}}" alt="Product" />
                                                    <!-- <img class="hover-image" src="/static/assets/images/product-image/1.webp" alt="Product" /> -->
                                                </a>
                                            </div>
                                            <div class="content">
                                                <span class="category"><a href="/Details/{{prod.id}}">{{prod.categories}}</a></span>
                                                <h5 class="title"><a href="/Details/{{prod.id}}">{{prod.name | truncatewords:4}}
                                                    </a>
                                                </h5>
                                                <span class="price">
                                                    <span class="new">₹{{prod.price}}</span>
                                                </span>
                                            </div>
                                            <div class="actions">
                                                <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart-{{forloop.counter}}"><i
                                                    class="pe-7s-shopbag"></i></button>
                                                
                                                <button class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal-{{forloop.counter}}"><i class="pe-7s-look"></i></button>
                                            </div>
                                     </div>
                                  </div> 
                                  {% endfor %}
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
            </div>
        </div>
        <!-- Product Area End -->
        {% include "footer.html" %}